@import url('https://fonts.googleapis.com/css?family=IM+Fell+Double+Pica&display=swap');


#app {
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.card-navigator {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.card-wrapper {
  height: 300vh;
  width: 300vw;
  margin-left: -100vw;
  margin-top: -100vh;
}

.aria-card {
  height: 100%;
  width: 100%;
}

.a-row {
  height: 100vh;
  float: left;
  
}

.a-column {
  width: 100vw;
  display: inline-block;
  height: 100%;
}

.btn-column {
  margin-top: auto;
  margin-bottom: auto;
}

.simple-navigator
{
  height: 100%;
}

.aria-img {
  max-height: 300px;
}

.navigation-btn{
  color:black !important;
  background-color: white !important;
  border: none !important;
  font-size: xx-large !important;
}

html, #app {
  background: #ffffff;
}
